<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @vacation.hospital_id %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @vacation.consultation %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
