<%= render 'shared/flash_messages' %>
<a><%= current_user.email %>さん、こんにちは!</a>
<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="http://bootstrap3.cyberlab.info/img/sample-256x256.png">
			<div class="caption">
				<h3>副作用歴/アレルギー歴</h3>
				<p>病歴・手術歴なども、あなたが分かる範囲で記入する事ができます</p>
				#<p><a href="/pages/side_effect" class="btn btn-default" role="button" target="_blank">編集する</a></p>
				<%= link_to "編集する",　pages_side_effect_path(@user.id) %>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="http://bootstrap3.cyberlab.info/img/sampleB-256x256.png">
			<div class="caption">
				<h3>処方内容検索</h3>
				<p>紙媒体から転記する場合にもご利用ください</p>
				<p><a href="/pages/allergy" class="btn btn-default" role="button" target="_blank">編集する</a></p>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="http://bootstrap3.cyberlab.info/img/sampleC-256x256.png">
			<div class="caption">
				<h3>個人情報設定（情報提供先）</h3>
				<p>安全な薬物治療には欠かせない情報になります</p>
				<p><a href="/pages/sick" class="btn btn-default" role="button" target="_blank">編集する</a></p>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="http://bootstrap3.cyberlab.info/img/sampleD-256x256.png">
			<div class="caption">
				<h3>問い合わせ機能</h3>
				<p>お薬に関する疑問をチャット形式で質問する事ができます</p>
				<p><a href="/pages/operation" class="btn btn-default" role="button" target="_blank">編集する</a></p>
			</div>
		</div>
	</div>
	
	<% if current_user.try(:admin?) %>
		<div class="page-header">
	  		<h1>管理者用</h1>
		</div>
		<p class="admin_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "管理画面", "/admin" %></p>
 	<% else %>
		<div class="page-header">
	  		<h1>マイページ<br>
				<small><%= current_user.email %>さん、こんにちは！</small>
	  		</h1>
		</div>
	<% end %>
</div>