#require 'user'
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= render 'shared/flash_messages' %>

    <h1>副作用登録ページ</h1>

    <div class="field">
        <%= form.label :side_effect %>
        <%= form.text_field :side_effect %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

    <%= link_to '戻る', pages_devise_test_path %>
<% end %>