<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :病院名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.number_field :telephone_number %>
  </div>

  <div class="field">
    <%= form.label :休診日 %>
    <%= select :off,:name,Company.offs.keys.to_a %>
    <%= select :off,:name,Company.offs.values.to_a %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :mail_address %>
  </div>

  <div class="field">
    <%= form.label :診察開始 %>
    <%= form.text_field :open %>
  </div>

  <div class="field">
    <%= form.label :診察終了 %>
    <%= form.text_field :close %>
  </div>

  <div class="field">
    <%= form.label :急患対応 %>
    <%= form.check_box :emergency %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
