<p id="notice"><%= notice %></p>

<h1>医療機関情報</h1>

<table>
  <thead>
    <tr>
      <th>病院名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>診察開始</th>
      <th>診察終了</th>
      <th>急患対応</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td><%= company.telephone_number %></td>
        <td><%= company.mail_address %></td>
        <td><%= company.open %></td>
        <td><%= company.close %></td>
        <td><%= company.emergency %></td>
        <td><%= company.remarks %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
