<p id="notice"><%= notice %></p>

<p>
  <strong>Num1:</strong>
  <%= @telphone.num1 %>
</p>

<p>
  <strong>Num2:</strong>
  <%= @telphone.num2 %>
</p>

<p>
  <strong>Num3:</strong>
  <%= @telphone.num3 %>
</p>

<%= link_to 'Edit', edit_telphone_path(@telphone) %> |
<%= link_to 'Back', telphones_path %>
