<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
        <% hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :病院名 %>
    <%= form.text_field :name %>
  </div>

  <h2>住所</h2>
  <p>郵便番号</p>
  <%= form.text_field :postcode %>
  <p>都道府県</p>
  <%= form.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県' %><br>
  <p>市町村</p>
  <%= form.text_field :address_city %>
  <p>詳細住所</p>
  <%= form.text_field :address_street %>
  <p>建物名など</p>
  <%= form.text_field :address_building %>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.number_field :telephone_number %>
  </div>

  <div class="field">
    <%= form.label :休診日 %>
    <%= form.select(:holiday, Hospital.holidays_i18n.invert) %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :mail_address %>
  </div>

  <div class="field">
    <%#= form.label :24時間対応 %>
    <%= form.check_box :twenty_four, {}, "yes", "no" %>
  </div>

  <div class="field">
    <%= form.label :診察開始 %>
    <%= form.text_field :open %>
  </div>

  <div class="field">
    <%= form.label :診察終了 %>
    <%= form.text_field :close %>
  </div>

  <div class="field">
    <%= form.label :急患対応 %>
    <%= form.check_box :emergency, {}, "ok", "ng" %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
