<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
        <% hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :病院名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :郵便番号 %>
    <%= form.text_field :postcode %>
  </div>

  <div class= "field">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県' %><br>
  </div>

  <div class= "field">
    <%= form.label :市町村 %>
    <%= form.text_field :address_city %>
  </div>

  <div class= "field">
    <%= form.label :詳細住所 %>
    <%= form.text_field :address_street %>
  </div>

  <div class= "field">
    <%= form.label :建物名など %>
    <%= form.text_field :address_building %>
  </div>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.number_field :telephone_number %>
  </div>
  
  <div class="field">
    <%= form.label :"診療科" %>
    <%# 書き方が分からない %>
    <% i = 0 %>
    <%= form.fields_for :clinical_departments do |clinical_department_f| %></br>
      <%= clinical_department_f.text_field(:classification,{},"other","cardiology","respiratory","gastroenterology","hematology","metabolism","neurology","pediatrics","psychiatry","dermatology","gastrointestinal","orthopaedic","neurosurgery","otolaryngology","urology","ophthalmology","anesthesiology","plasticsurgery","dentistry") %>
      <%= if i == 0 %>
        <% clinical_department_f.label :"その他" %>
      <%= elsif i == 1 %>
        <% clinical_department_f.label :"循環器内科" %>
      <%= elsif i == 2 %>
        <% clinical_department_f.label :"呼吸器科" %>
      <%= elsif i == 3 %>
        <% clinical_department_f.label :"消化器内科" %>
      <%= elsif i == 4 %>
        <% clinical_department_f.label :"血液内科" %>
      <%= elsif i == 5 %>
        <% clinical_department_f.label :"内分泌内科" %>
      <%= elsif i == 6 %>
        <% clinical_department_f.label :"神経内科" %>
      <%= elsif i == 7 %>      
        <% clinical_department_f.label :"小児科" %>
      <%= elsif i == 8 %>
        <% clinical_department_f.label :"精神科" %>
      <%= elsif i == 9 %>
        <% clinical_department_f.label :"皮膚科" %>
      <%= elsif i == 10 %>
        <% clinical_department_f.label :"消化器外科" %>
      <%= elsif i == 11 %>
        <% clinical_department_f.label :"整形外科" %>
      <%= elsif i == 12 %>
        <% clinical_department_f.label :"脳神経外科" %>
      <%= elsif i == 13 %>
        <% clinical_department_f.label :"耳鼻咽喉科" %>
      <%= elsif i == 14 %>
        <% clinical_department_f.label :"泌尿器科" %>
      <%= elsif i == 15 %>
        <% clinical_department_f.label :"眼科" %>
      <%= elsif i == 16 %>
        <% clinical_department_f.label :"麻酔科" %>
      <%= elsif i == 17 %>
        <% clinical_department_f.label :"形成外科" %>
      <%= elsif i == 18 %>
        <% clinical_department_f.label :"歯科" %>
      <% end %>
      <% i = i + 1 %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :"休診日(休診日にチェックを入れる)" %></br>
    <% i = 0 %>
    <%= form.fields_for :vacations do |vacation_f| %>
      <%= vacation_f.check_box(:is_closed,{},"kyushin","sninsatsu") %>
      <% if i == 0 %>
        <%= vacation_f.label :"日曜日" %>
      <% elsif i == 1 %>
          <%= vacation_f.label :"月曜日" %>
      <% elsif i == 2 %>
          <%= vacation_f.label :"火曜日" %>
      <% elsif i == 3 %>
          <%= vacation_f.label :"水曜日" %>
      <% elsif i == 4 %>
          <%= vacation_f.label :"木曜日" %>
      <% elsif i == 5 %>
          <%= vacation_f.label :"金曜日" %>
      <% elsif i == 6 %>
          <%= vacation_f.label :"土曜日" %>
      <% end %>
      <%# vacation_f.text_field(:week_day_i18n,readonly: true) %>
      <% i = i + 1 %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :mail_address %>
  </div>

  <div class="field">
    <%= form.label :"24時間対応" %>
    <%= form.check_box :twenty_four, {}, "correct", "incorrect" %>
  </div>

  <div class="field">
    <%= form.label :診察開始 %>
    <%= form.text_field :open %>
  </div>

  <div class="field">
    <%= form.label :診察終了 %>
    <%= form.text_field :close %>
  </div>

  <div class="field">
    <%= form.label :急患対応 %>
    <%= form.check_box :emergency, {}, "ok", "ng" %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>