<!DOCTYPE html>
<html>
  <head>
    <title>WebMedicineNotebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- jacascript app -->
    <%= javascript_include_tag 'application' %>
    <!-- jacascript app -->
  </head>

  <body>
    <%= render 'shared/header' %>
    <!--
    <p class="notice"><%# notice %></p>
    <p class="alert"><%#alert %></p>
    -->
    <%= yield %>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
